@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@300;400;500&display=swap');
@import '../scss/helpers/animations.scss';
@import '../scss/helpers/atomic-classes';
@import '../scss/base/variables';

body,
html,
#app {
  font-family: 'Roboto', sans-serif;
  background-color: $primary;
  color: $text-color;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::selection {
  background-color: lighten($primary, 30%);
  color: darken($primary, 4%);
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: lighten($text-color, 15%);
  }
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  &#top-svg {
    transform: translateY(-42.4rem) translateX(-16rem);
  }
  &#bottom-svg {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    transform: translateY(20vh) translateX(-70rem);
  }
}
