@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@300;400;500&display=swap');
@import '../scss/helpers/atomic-classes';
@import '../scss/base/variables';

body,
html,
#app {
  font-family: 'Roboto', sans-serif;
  background-color: $primary;
  color: $text-color;
  overflow: hidden;
}

::selection {
  background-color: lighten($primary, 30%);
  color: darken($primary, 4%);
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: lighten($text-color, 15%);
  }
}
