$primary: #323233;
$primary--variant-1: #363636;
$primary--variant-2: #707070;
$primary--variant-3: #242222;
$transition-regular: 320ms ease-in-out;

$text-color: #ababab;
$text-color--variant-1: #cfcfcf;
$text-color--variant-2: #a8a3a3;
