@import '../base/variables';

.i-card {
  background-color: $primary--variant-1;
  max-width: 58.69rem;
  &:not(.i-card__inner) {
    &.md {
      max-width: 25.32rem;
    }
    transition: transform 120ms ease-in;
    &:hover {
      transform: scale(1.004);
    }
  }
}
