aside {
  max-width: 32.5em;
  .title {
    margin-left: 0.034em;
  }
  p {
    line-height: 1.2;
    font-weight: 300;
    font-size: 1em;
  }

  @media screen and (max-width: 64em) {
    text-transform: capitalize;
  }
}
