@import '../base/variables';

.nav-wrapper {
  .link {
    position: relative;
    font-size: inherit;
    border: 1px solid darken($text-color, 5%);
    border-top: 0;
    border-right: 0;
    span.label {
      display: inline-block;
      margin-left: 1rem;
    }
    a {
      width: 98.5%;
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
    &:hover {
      a {
        color: $primary;
        border-left-color: $primary;
        border-bottom-color: $primary;
        background-color: darken($text-color, 12%);
      }
    }
    &:nth-child(2) {
      margin-left: 1rem;
    }
    &:nth-child(3) {
      margin-left: 2rem;
    }
  }
}
