@import '../base/variables';

.i-card {
  background-color: $primary--variant-1;
  max-width: 58.69rem;
  .title {
    font-size: 1.025em;
    @media screen and (min-width: 64em) {
      font-size: 1.45em;
    }
  }
  &:not(.i-card__inner) {
    &.md {
      max-width: 28.89rem;
    }
    transition: transform 120ms ease-in;
    &:hover {
      transform: scale(1.004);
    }
  }
}
