@import '../base/variables';

$border-color: darken($text-color, 5%);

.nav-wrapper {
  .link {
    position: relative;
    font-size: inherit;
    border: 1px solid $border-color;
    border-top: 0;
    border-right: 0;
    height: 1.8rem;

    span.label {
      display: inline-block;
      margin-left: 1rem;
    }
    a {
      width: 98.5%;
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
    }
    &:hover {
      // TODO: the transition should be that the background-color
      // grows in height from the bottom till the middle of the text
      a {
        color: $primary;
        border-left-color: $primary;
        border-bottom-color: $primary;
        background-color: darken($text-color, 12%);
      }
    }
    &:nth-child(2) {
      margin-left: 1rem;
    }
    &:nth-child(3) {
      margin-left: 2rem;
    }
    &.active {
      a {
        color: lighten($text-color, 42%) !important;
      }
    }
  }
  &.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;

    display: flex;
    flex-flow: row nowrap;
    background-color: darken($primary, 2.4%);
    padding: 1rem 4rem 1rem 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $primary;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.1);
    .link {
      width: 7rem;
      border: 1px solid $border-color;
      span.label {
        position: absolute;
        margin-left: 4rem;
      }
      @media screen and (max-width: 25.875em) {
        width: 3rem;
        span.label {
          position: absolute;
          margin-left: 0.4rem;
        }
      }
    }
  }
}
