@import '../base/variables';
@import '../helpers/atomic-classes';

.main-wrapper {
  padding: 5.8rem 0;
  margin: 0 auto;
  width: 86vw;
  // @extend .debug;

  .divider {
    position: relative;
    grid-column: 1 / 4;
  }

  .left {
    padding-bottom: 2rem;
    height: fit-content;
    position: static;
    display: block;
    width: 100%;

    // @extend .debug;
    .social-bar-wrapper {
      width: 90%;
      align-self: end;
    }

  @media screen and (min-width: $wp-lg) {
      position: fixed;
      width: 20vw;
      top: 5rem;
      min-height: 42rem;
      max-width: 22rem;
      padding-bottom: 0;
      display: flex;
      flex-flow: column nowrap;
      width: 24%;
      justify-content: space-between;
      .social-bar-wrapper {
        width: 100%;
      }
    }
  }


  .right {
    // @extend .debug;
    width: 100%;
    padding: 0;

    .pens-wrapper {
      @media screen and (min-width: $wp-md) {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
      }
    }

    @media screen and (min-width: $wp-lg) {
      float: right;
      width: 65%;
      float: right;
      .pens-wrapper {
        .title {
          font-size: 1.025em;
        }
      }
    }
  }

  @media screen and (min-width: $wp-lg) {
    padding: 5.8rem 0;
    margin: 0 auto;
    width: 80vw;
  }
}

.svg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  overflow: hidden;

  &#top-svg {
    transform: translateY(-40.4rem) translateX(-24.89rem);
    @media screen and (min-width: $wp-lg) {
      transform: translateY(-22rem) translateX(-21.2rem);
    }
  }
  &#bottom-svg {
    width: 100%;
    height: 45vh;
    $c: 124vh * 2.4;
    transform: translateY($c) translateX(-12rem);

    @media screen and (min-width: $wp-xlg * 1.4) {
      display: none;
    }

    @media screen and (min-width: $wp-lg) {
      height: 25vh;
      $c: 82vh * 2.4;
      transform: translateY($c) translateX(-12rem);
      // transform: translateY(220vh) translateX(-12rem);
    }
    // @media screen and (min-width: 90em) {
    //   height: 35vh;
    //   $c: 86vh * 2.4;
    //   transform: translateY($c) translateX(-12rem);
    // }
    // @media screen and (min-width: 82em) {
    //   height: 45vh;
    //   $c: 90vh * 2.4;
    //   transform: translateY($c) translateX(-12rem);
    // }
  }
}

.codepen.pen {
  height: 21.438em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid darken($primary--variant-1, 2%);
  margin: 1em 0;
  padding: 1em;
}

.overlay-1,
.overlay-2 {
  display: block;
  position: fixed;
  transform: translate3d(0px, -7.67334px, 0px);
  pointer-events: none;
  z-index: 20;
  width: 100%;
  left: 0;
  opacity: 1;
}

.overlay-1.shadow-top {
  top: 0;
  height: 2%;
  background: linear-gradient(
    180deg,
    $primary--variant-3 0,
    rgba(0, 0, 0, 0) 100%
  );
}
.overlay-2.shadow-bottom {
  height: 4%;
  bottom: -0.8rem;
  background: linear-gradient(
    360deg,
    $primary--variant-3 0,
    rgba(0, 0, 0, 0) 100%
  );
}
